# .gitignore - List of filenames git should ignore

# Filenames that should be ignored wherever they appear
*.suo
*.user
*.sdf
*.ncb
out*/**

*.obj
*.map
*.sln
*.obj
*.db
*.pdb
*.ipdb
*.ilk
*.tlog
.vs
*.opensdf
*.opendb
*.o

*.bak
*.tmp
*.sav
bak
tmp
sav
tmp_*
bak_*
sav_*

err.txt
*.err
*.log
*.t

Debug
Release
x64
build
